<div class="modal--window">
  <transition-root class="modal--mask" data-transition="at_start"></transition-root>
  <div class="modal--container"></div>
  <div class="modal--close" tabindex="0">
    {% render 'icons', icon: 'cross' %}
  </div>
  <div class="modal--prev">
    {% render 'icons', icon: 'chevron-left' %}
  </div>
  <div class="modal--next">
    {% render 'icons', icon: 'chevron-right' %}
  </div>
</div>

<script type="module">
  import "{{ 'modal.js' | asset_url }}";
</script>
