{%- liquid
    assign link = section.settings.link
    assign text = section.settings.button-text
  -%}
  
  <div
    class="custom-content--button"
    data-item="rte-content"
    data-section-id="{{ section.id }}"
    style="display:flex;padding:35px;"
  >
    <a 
      href="{{ link }}" 
      style="
        background-color: var(--bg-color--button); 
        padding: 10px 30px; 
        color: var(--color--button); 
        margin: 0 auto; 
        text-decoration:none; 
        font-family: var(--font--accent--family);
        font-weight: var(--font--accent--weight);
        font-style: var(--font--accent--style);
      "
      >{{ text }}</a>
  </div>
  
  {% schema %}
    {
      "name": "Custom Button",
      "settings": [
          {
              "type": "text",
              "id": "button-text",
              "label": "Button Text",
              "default": "Your button text here"
          },
          {
              "type": "url",
              "id": "link",
              "label": "Link"
          }
      ],
      "presets": [
        {
          "name": "Custom Button"
        }
      ]
    }
  {% endschema %}